<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Fediz IDP" packages="">
  <Appenders>
    <File name="IDP" fileName="${sys:catalina.base}/logs/idp.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
    <Async name="Async">
      <AppenderRef ref="IDP"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Async"/>
    </Root>
  </Loggers>
</Configuration>
