<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<description>
    WS Federation Tomcat Example
    </description>
	<display-name>WS Federation Tomcat Example</display-name>

	<filter>
		<filter-name>LogoutFilter</filter-name>
		<filter-class>org.apache.cxf.fediz.service.idp.LogoutFilter</filter-class>
		<init-param>
			<param-name>logout.uri</param-name>
			<param-value>logout</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>LogoutFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>FederationServlet</servlet-name>
		<servlet-class>org.apache.cxf.fediz.service.idp.IdpServlet</servlet-class>
		<init-param>
			<param-name>sts.wsdl.url</param-name>
			<param-value>https://localhost:0/fediz-idp-sts/</param-value>
		</init-param>
		<init-param>
			<param-name>sts.wsdl.service</param-name>
			<param-value>SecurityTokenService</param-value>
		</init-param>
		<init-param>
			<param-name>sts.UT.wsdl.endpoint</param-name>
			<param-value>TransportUT_Port</param-value>
		</init-param>
	    <init-param>
			<param-name>sts.UT.uri</param-name>
			<param-value>STSService</param-value>
		</init-param>		
		<init-param>
			<param-name>sts.RP.wsdl.endpoint</param-name>
			<param-value>Transport_Port</param-value>
		</init-param>
		<init-param>
			<param-name>sts.RP.uri</param-name>
			<param-value>STSServiceTransport</param-value>
		</init-param>
		<init-param>
			<param-name>token.internal.lifetime</param-name>
			<param-value>7200</param-value>
		</init-param>
		
<!--		
		<init-param>
			<param-name>ws-trust-tokentype</param-name>
			<param-value>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1</param-value>
		</init-param>
-->
	</servlet>

	<servlet-mapping>
		<servlet-name>FederationServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


</web-app>
