<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<description>
    WS Federation Tomcat Example
    </description>
	<display-name>WS Federation Tomcat Example</display-name>

	<filter>
		<filter-name>FederationFilter</filter-name>
		<filter-class>org.apache.cxf.fediz.example.FederationFilter</filter-class>
		<!--
		<init-param>
			<param-name>security.token.attribute</param-name>
			<param-value>org.apache.fediz.SECURITY_TOKEN</param-value>
		</init-param>
		-->
	</filter>

	<!-- now map this filter to a URL-pattern -->
	<filter-mapping>
		<filter-name>FederationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>FederationServlet</servlet-name>
		<servlet-class>org.apache.cxf.fediz.example.FederationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FederationServlet</servlet-name>
		<url-pattern>/secureservlet/fed</url-pattern>
	</servlet-mapping>

	<security-role>
		<role-name>Manager</role-name>
		<role-name>User</role-name>
		<role-name>Admin</role-name>
		<role-name>Authenticated</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/secure/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Servlet Protected Area</web-resource-name>
			<url-pattern>/secureservlet/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- it does not work to not list a role, no authentication triggered -->
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>WSFED</auth-method>
		<realm-name>WSFED</realm-name>
	</login-config>

</web-app>
